<template>
  <div id="faq">
    <contactform></contactform>
    <div id="intro-section">
      <div class="bg-display">
        <img class="current-phase-bg" src="../assets/faq-left.png" />
        <div class="intro">
          <h2>{{ aboutText.title }}</h2>
          <p class="body-1">{{ aboutText.subTitle }}</p>
        </div>
        <img class="current-phase-bg2" src="../assets/faq-right.png" />
      </div>
    </div>
    <div id="about-section">
      <div id="mission">
        <img id="mission-img" src="../assets/about/peterdream.png" />
      </div>
      <div id="mission-text">
        <h2>{{ aboutText.ourMission }}</h2>
        <p class="body-1">{{ aboutText.peterDream }}</p>
        <p class="body-2">{{ aboutText.mission }}</p>
        <p class="body-1">{{ aboutText.missionBody }}</p>
      </div>
    </div>
    <div id="collaborators-section">
      <h2>{{ aboutText.collaboratorsHeader }}</h2>
      <div id="members-section">
        <div v-for="item in items" v-bind:key="item.memberName" class="member-item">
          <div
            class="member-img"
            :style="{ 'background-image': 'url(' + require(`../assets/about/${item.memberImage}`) }"
          >
            <img
              class="member-organization"
              :src="require(`../assets/about/icons/${item.memberOrganization}`)"
            />
          </div>
          <div class="member-info">
            <div class="member-text">
              <p class="member-title">{{item.memberName}}</p>
              <p class="body-4">{{item.memberTitle}}</p>
              <p class="caption-1">{{item.memberDepartment}}</p>
            </div>
            <div class="linkedin">
              <a
                class="linkedin-link"
                v-if="item.memberLink"
                :href="item.memberLink"
                target="_blank"
              >
                <svg
                  width="30px"
                  height="30px"
                  viewBox="0 0 24 25"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <title>linkedin</title>
                  <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g
                      id="Cards/Team"
                      transform="translate(-282.000000, -324.000000)"
                      fill-rule="nonzero"
                    >
                      <g id="linkedin" transform="translate(282.000000, 324.000000)">
                        <path
                          d="M0.274909091,1.94649351 C0.274909091,1.00675325 1.05662338,0.244051948 2.02036364,0.244051948 L22.1454545,0.244051948 C23.1095065,0.244051948 23.8909091,1.00675325 23.8909091,1.94649351 L23.8909091,22.3075325 C23.8909091,23.2475844 23.1095065,24.0096623 22.1454545,24.0096623 L2.02036364,24.0096623 C1.05662338,24.0096623 0.274909091,23.2475844 0.274909091,22.3078442 L0.274909091,1.94618182 L0.274909091,1.94649351 Z"
                          id="Path"
                          fill="#006699"
                        />
                        <path
                          d="M7.43376623,20.1381818 L7.43376623,9.40675325 L3.86680519,9.40675325 L3.86680519,20.1381818 L7.43407792,20.1381818 L7.43376623,20.1381818 Z M5.65090909,7.94181818 C6.89454545,7.94181818 7.66877922,7.11771429 7.66877922,6.0878961 C7.6454026,5.0347013 6.89454545,4.23366234 5.6745974,4.23366234 C4.45371429,4.23366234 3.65641558,5.0347013 3.65641558,6.0878961 C3.65641558,7.11771429 4.43033766,7.94181818 5.62753247,7.94181818 L5.6505974,7.94181818 L5.65090909,7.94181818 Z M9.408,20.1381818 L12.9746494,20.1381818 L12.9746494,14.145974 C12.9746494,13.8255584 12.998026,13.5045195 13.0921558,13.2757403 C13.3499221,12.6345974 13.9368312,11.971013 14.9223896,11.971013 C16.2127792,11.971013 16.7292468,12.955013 16.7292468,14.3978182 L16.7292468,20.1381818 L20.2958961,20.1381818 L20.2958961,13.9851429 C20.2958961,10.689039 18.5364156,9.15522078 16.1897143,9.15522078 C14.2656623,9.15522078 13.4206753,10.2305455 12.9512727,10.963013 L12.974961,10.963013 L12.974961,9.40706494 L9.40831169,9.40706494 C9.45475325,10.4138182 9.408,20.1384935 9.408,20.1384935 L9.408,20.1381818 Z"
                          id="Shape"
                          fill="#FFFFFF"
                        />
                      </g>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from "./ContactForm";
import { aboutPageText } from "../locale/translations";
import { eventBus } from "../main";

export default {
  name: "about-page",
  components: {
    contactform: ContactForm
  },

  // ----

  data() {
    return {
      aboutText: null,
      aboutTextEn: null,
      aboutTextNl: null,

      // Load in all Members
      // [ Member- Name, Title, Department, Image, Organization, Link ]
      items: [
        {
          memberName: "Mark van der Net",
          memberTitle: "Tech Lead (2019)",
          memberDepartment: "CTO Tech Team, Gemeente Amsterdam",
          memberImage: "Mark.png",
          memberOrganization: "amsterdam-grey.png"
          // memberLink: "https://www.linkedin.com/in/peterdeboer1987"
        },
        {
          memberName: "Maarten Sukel",
          memberTitle: "Lead AI Developer",
          memberDepartment: "CTO Tech Team, Gemeente Amsterdam",
          memberImage: "Maarten.png",
          memberOrganization: "amsterdam-grey.png",
          memberLink: "https://www.linkedin.com/in/maarten-sukel-78427b58"
        },
        {
          memberName: "Stan Guldemond",
          memberTitle: "Tech Developer",
          memberDepartment: "CTO Tech Team, Gemeente Amsterdam",
          memberImage: "Stan.png",
          memberOrganization: "amsterdam-white.png",
          memberLink: "https://www.linkedin.com/in/stan-guldemond-56291b120"
        },
        {
          memberName: "Cláudia Pinhão",
          memberTitle: "Product Designer",
          memberDepartment: "CTO Tech Team, Gemeente Amsterdam",
          memberImage: "Claudia.png",
          memberOrganization: "amsterdam-grey.png",
          memberLink: "https://www.linkedin.com/in/claudiapinhao"
        },
        {
          memberName: "Youssef Kassem",
          memberTitle: "Front-end Developer",
          memberDepartment: "CTO Tech Team, Gemeente Amsterdam",
          memberImage: "Youssef.png",
          memberOrganization: "amsterdam-white.png",
          memberLink: "https://www.linkedin.com/in/youssef-kassem"
        },
        {
          memberName: "Sven Brilleman",
          memberTitle: "Back-end Developer",
          memberDepartment: "CTO Tech Team, Gemeente Amsterdam",
          memberImage: "Sven.png",
          memberOrganization: "amsterdam-white.png",
          memberLink: "https://www.linkedin.com/in/sven-brilleman"
        },
        {
          memberName: "Safia Akkus",
          memberTitle: "Strategist",
          memberDepartment: "CTO innovation Team, Gemeente Amsterdam",
          memberImage: "Safia.png",
          memberOrganization: "amsterdam-white.png",
          memberLink: "https://www.linkedin.com/in/safia-akkus-22257247"
        },
        {
          memberName: "Tamas Erkelens",
          memberTitle: "Program Manager Public Tech",
          memberDepartment: "CTO innovation Team, Gemeente Amsterdam",
          memberImage: "Tamas.png",
          memberOrganization: "amsterdam-white.png",
          memberLink: "https://www.linkedin.com/in/tamas-erkelens-4a42252a"
        },
        {
          memberName: "Stephan Preeker",
          memberTitle: "Senior Geo Software Engineer",
          memberDepartment: "Vereniging Nederlandse Gemeenten",
          memberImage: "Stephan.png",
          memberOrganization: "vng.png",
          memberLink: "https://www.linkedin.com/in/spreeker"
        },
        {
          memberName: "Ling-Po Shih",
          memberTitle: "Data Scientist",
          memberDepartment: "Gemeente Utrecht",
          memberImage: "Ling.png",
          memberOrganization: "utrecht-white.png",
          memberLink: "https://www.linkedin.com/in/lingposhih"
        },
        {
          memberName: "Dick Joosten",
          memberTitle: "Data Scientist",
          memberDepartment: "Gemeente Utrecht",
          memberImage: "Dick.png",
          memberOrganization: "utrecht-white.png",
          memberLink: "https://www.linkedin.com/in/dick-joosten-28888818"
        },
        {
          memberName: "Irene van Blerck",
          memberTitle: "Data Scientist",
          memberDepartment: "Gemeente Oosterhout",
          memberImage: "Irene.png",
          memberOrganization: "oosterhout.png",
          memberLink: "https://www.linkedin.com/in/irene-van-blerck-378799150"
        },
        {
          memberName: "Rukshar Wagid Hosain",
          memberTitle: "Data Scientist",
          memberDepartment: "Gemeente Rotterdam",
          memberImage: "Rukshar.png",
          memberOrganization: "rotterdam.png",
          memberLink:
            "https://www.linkedin.com/in/rukshar-wagid-hosain-b19542110"
        }
      ]
    };
  },

  // ----

  methods: {
    setup() {
      this.aboutTextEn = aboutPageText.i18n.messages.en;
      this.aboutTextNl = aboutPageText.i18n.messages.nl;

      if (localStorage.dutchActive && localStorage.language == "nl") {
        this.aboutText = this.aboutTextNl;
      } else if (localStorage.englishActive && localStorage.language == "en") {
        this.aboutText = this.aboutTextEn;
      } else {
        this.aboutText = this.aboutTextNl;
      }
    }
  },

  // ----

  beforeMount() {
    eventBus.$on("langEnActive", englishActive => {
      if (localStorage.englishActive) {
        localStorage.language = "en";
        this.aboutText = this.aboutTextEn;
      }
    });
    eventBus.$on("langNlActive", dutchActive => {
      if (localStorage.dutchActive) {
        localStorage.language = "nl";
        this.aboutText = this.aboutTextNl;
      }
    });

    // init
    this.setup();
  }
};
</script>

<style scoped>
#faq {
  display: block;
}

.body-2 {
  font-size: 1rem !important;
}

.member-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: var(--dark-blue-color);
}

#intro-section {
  height: 26.625rem;
  width: 100%;
  background: var(--white-color);
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}

.bg-display {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}

.current-phase-bg,
.current-phase-bg2 {
  height: 100%;
  position: absolute;
}

.current-phase-bg {
  left: -2rem;
}

.current-phase-bg2 {
  right: -5rem;
}

.intro {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro p {
  width: 40%;
}

#about-section {
  width: 100%;
  background: var(--second-white-color);
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 6.25rem 0;
}

#mission,
#mission-text {
  width: 37.5%;
  max-width: 700px;
}

#mission {
  display: flex;
  justify-content: center;
}

#mission-img {
  width: 400px;
  object-fit: contain;
}

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    #mission-img {
      max-height: 350px;
    }
  }
}

#collaborators-section {
  width: 100%;
  height: auto;
  background: var(--white-color);
  padding: 5.25rem 0 8.75rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#collaborators-section h2 {
  width: 75%;
  max-width: 1400px;
  margin-bottom: 2.125rem;
  line-height: 2rem !important;
}

#members-section {
  display: flex;
  width: calc(75% + 3.75rem);
  max-width: calc(1400px + 3.75rem);
  flex-wrap: wrap;
  justify-content: center;
}

.member-item {
  height: auto;
  width: 28%;
  min-width: 300px;
  max-width: 500px;
  margin: 1.875rem;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(47, 28, 80, 0.2);
  display: flex;
  flex-direction: column;
}

.member-img {
  height: 18vw;
  max-height: 360px;
  background-size: 110% auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.member-organization {
  height: 4rem;
  width: 4rem;
  margin: 1.5rem 2rem 0 0;
}

.member-info {
  width: 100%;
  padding: 1.5rem;
  display: flex;
}

.member-text {
  width: calc(100% - 30px);
  margin-right: 1rem;
}

.member-text > .body-4 {
  margin: 0 0 1rem 0 !important;
  line-height: unset !important;
}

.linkedin {
  width: 30px;
  height: 30px;
  margin-top: 0.375rem;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .current-phase-bg {
    left: -12rem;
  }

  #about-section {
    flex-direction: column;
  }

  .current-phase-bg2 {
    right: -11rem;
  }

  #mission-text,
  #mission {
    width: 900px;
  }

  .member-item {
    width: 14rem;
  }

  .member-img {
    height: 14rem;
  }

  .member-organization {
    top: -19rem;
  }

  .member-title {
    
  }
}

@media only screen and (max-width: 1023px) {
  #about-section {
    flex-direction: column;
  }

  #mission-text,
  #mission {
    width: 80%;
  }

  #mission {
    margin-bottom: 4rem;
  }

  .bg-display {
    align-items: center;
  }

  .current-phase-bg {
    display: none;
  }

  .current-phase-bg2 {
    display: none;
  }

  .intro {
    width: 80%;
    margin: 0;
  }

  .intro p {
    width: 100%;
  }

  .member-item {
    width: 42%;
    max-width: 10rem;
  }
}
</style>
