<template>
  <div id="faq">
    <contactform></contactform>
    <div id="intro-section">
      <div class="bg-display">
        <img class="current-phase-bg" src="../assets/faq-left.png" />
        <div class="intro">
          <h2>{{ faqText.title }}</h2>
          <p class="body-1">{{ faqText.subTitle }}</p>
        </div>
        <img class="current-phase-bg2" src="../assets/faq-right.png" />
      </div>
    </div>
    <div class="faq-section">
      <div class="faq-section-center">
        <div class="section-one">
          <p class="section-header odk-title">{{ faqText.sectionOneTitle }}</p>
          <b-collapse
            class="card"
            v-for="(collapse, index) of collapses"
            :key="index"
            :open="isOpen == index"
            @open="isOpen = index"
          >
            <div slot="trigger" slot-scope="props" class="card-header" role="button">
              <p class="card-header-title">{{ collapse.title }}</p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'minus' : 'plus'"></b-icon>
              </a>
            </div>
            <div class="card-content">
              <div class="content">{{ collapse.text }}</div>
            </div>
          </b-collapse>
        </div>
        <div class="section-two">
          <b-collapse
            class="card"
            v-for="(collapse, index) of collapsesTwo"
            :key="index"
            :open="isOpen2 == index"
            @open="isOpen2 = index"
          >
            <div slot="trigger" slot-scope="props" class="card-header" role="button">
              <p class="card-header-title">{{ collapse.title }}</p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'minus' : 'plus'"></b-icon>
              </a>
            </div>
            <div class="card-content">
              <div class="content">{{ collapse.text }}</div>
            </div>
          </b-collapse>
        </div>
      </div>
      <div class="faq-section-center">
        <div class="section-one">
          <p class="section-header odk-title">{{ faqText.sectionTwoTitle }}</p>
          <b-collapse
            class="card"
            v-for="(collapse, index) of collapsesThree"
            :key="index"
            :open="isOpen3 == index"
            @open="isOpen3 = index"
          >
            <div slot="trigger" slot-scope="props" class="card-header" role="button">
              <p class="card-header-title">{{ collapse.title }}</p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'minus' : 'plus'"></b-icon>
              </a>
            </div>
            <div class="card-content">
              <div class="content">
                {{ collapse.text }}
                <a
                  class="link"
                  v-if="collapse.link"
                  :href="collapse.link"
                  target="_blank"
                >{{ faqText.link }}</a>
              </div>
            </div>
          </b-collapse>
        </div>
        <div class="section-two">
          <b-collapse
            class="card"
            v-for="(collapse, index) of collapsesFour"
            :key="index"
            :open="isOpen4 == index"
            @open="isOpen4 = index"
          >
            <div slot="trigger" slot-scope="props" class="card-header" role="button">
              <p class="card-header-title">{{ collapse.title }}</p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'minus' : 'plus'"></b-icon>
              </a>
            </div>
            <div class="card-content">
              <div class="content">{{ collapse.text }}</div>
            </div>
          </b-collapse>
        </div>
      </div>
      <div class="faq-section-center">
        <div class="section-one">
          <p class="section-header odk-title">{{ faqText.sectionThreeTitle }}</p>
          <b-collapse
            class="card"
            v-for="(collapse, index) of collapsesFive"
            :key="index"
            :open="isOpen5 == index"
            @open="isOpen5 = index"
          >
            <div slot="trigger" slot-scope="props" class="card-header" role="button">
              <p class="card-header-title">{{ collapse.title }}</p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'minus' : 'plus'"></b-icon>
              </a>
            </div>
            <div class="card-content">
              <div class="content">
                {{ collapse.text }}
                <a
                  class="link"
                  v-if="collapse.link"
                  :href="collapse.link"
                  target="_blank"
                >{{ faqText.link }}</a>
              </div>
            </div>
          </b-collapse>
        </div>
        <div class="section-two">
          <b-collapse
            class="card"
            v-for="(collapse, index) of collapsesSix"
            :key="index"
            :open="isOpen6 == index"
            @open="isOpen6 = index"
          >
            <div slot="trigger" slot-scope="props" class="card-header" role="button">
              <p class="card-header-title">{{ collapse.title }}</p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'minus' : 'plus'"></b-icon>
              </a>
            </div>
            <div class="card-content">
              <div class="content">{{ collapse.text }}</div>
            </div>
          </b-collapse>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from "./ContactForm";
import {
  faqPageText,
  faqMessages,
  faqMessagesTwo,
  faqMessagesThree,
  faqMessagesFour,
  faqMessagesFive,
  faqMessagesSix
} from "../locale/translations";
import { eventBus } from "../main";

export default {
  name: "faq-page",
  components: {
    contactform: ContactForm
  },

  // ----

  data() {
    return {
      faqText: null,
      faqTextEn: null,
      faqTextNl: null,

      isOpen: null,
      isOpen2: null,
      isOpen3: null,
      isOpen4: null,
      isOpen5: null,
      isOpen6: null,
      // ----------
      collapses: null,
      collapsesEn: null,
      collapsesNl: null,
      // ----------
      collapsesTwo: null,
      collapsesEnTwo: null,
      collapsesNlTwo: null,
      // ----------
      collapsesThree: null,
      collapsesEnThree: null,
      collapsesNlThree: null,
      // ----------
      collapsesFour: null,
      collapsesEnFour: null,
      collapsesNlFour: null,
      // ----------
      collapsesFive: null,
      collapsesEnFive: null,
      collapsesNlFive: null,
      // ----------
      collapsesSix: null,
      collapsesEnSix: null,
      collapsesNlSix: null,

      collapsesSix: [
        {
          title: "Can I get access to historical data?",
          text:
            "Data will firstly be available to the municipality. In the future historical data will be available through open data platforms."
        },
        {
          title: "Is there an API?",
          text:
            "We are working together with the VNG to make relevant data accessible through the NLX platform. Also, we intend to make our machine learning capabilities accessible through this network, so we can collaborate on training models together with other municipalities and universities."
        }
      ]
    };
  },

  // ----

  methods: {
    setup() {
      this.faqTextEn = faqPageText.i18n.messages.en;
      this.faqTextNl = faqPageText.i18n.messages.nl;

      this.collapsesEn = faqMessages.i18n.messages.en.collapses;
      this.collapsesNl = faqMessages.i18n.messages.nl.collapses;
      this.collapses = this.collapsesEn;
      // ----------
      this.collapsesEnTwo = faqMessagesTwo.i18n.messages.en.collapsesTwo;
      this.collapsesNlTwo = faqMessagesTwo.i18n.messages.nl.collapsesTwo;
      this.collapsesTwo = this.collapsesEnTwo;
      // ----------
      this.collapsesEnThree = faqMessagesThree.i18n.messages.en.collapsesThree;
      this.collapsesNlThree = faqMessagesThree.i18n.messages.nl.collapsesThree;
      this.collapsesThree = this.collapsesEnThree;
      // ----------
      this.collapsesEnFour = faqMessagesFour.i18n.messages.en.collapsesFour;
      this.collapsesNlFour = faqMessagesFour.i18n.messages.nl.collapsesFour;
      this.collapsesFour = this.collapsesEnFour;
      // ----------
      this.collapsesEnFive = faqMessagesFive.i18n.messages.en.collapsesFive;
      this.collapsesNlFive = faqMessagesFive.i18n.messages.nl.collapsesFive;
      this.collapsesFive = this.collapsesEnFive;
      // ----------
      this.collapsesEnSix = faqMessagesSix.i18n.messages.en.collapsesSix;
      this.collapsesNlSix = faqMessagesSix.i18n.messages.nl.collapsesSix;
      this.collapsesSix = this.collapsesEnSix;

      // init roadmap
      if (localStorage.dutchActive && localStorage.language == "nl") {
        this.faqText = this.faqTextNl;

        this.collapses = this.collapsesNl;
        this.collapsesTwo = this.collapsesNlTwo;
        this.collapsesThree = this.collapsesNlThree;
        this.collapsesFour = this.collapsesNlFour;
        this.collapsesFive = this.collapsesNlFive;
        this.collapsesSix = this.collapsesNlSix;
      } else if (localStorage.englishActive && localStorage.language == "en") {
        this.faqText = this.faqTextEn;

        this.collapses = this.collapsesEn;
        this.collapsesTwo = this.collapsesEnTwo;
        this.collapsesThree = this.collapsesEnThree;
        this.collapsesFour = this.collapsesEnFour;
        this.collapsesFive = this.collapsesEnFive;
        this.collapsesSix = this.collapsesEnSix;
      } else {
        this.faqText = this.faqTextNl;

        this.collapses = this.collapsesNl;
        this.collapsesTwo = this.collapsesNlTwo;
        this.collapsesThree = this.collapsesNlThree;
        this.collapsesFour = this.collapsesNlFour;
        this.collapsesFive = this.collapsesNlFive;
        this.collapsesSix = this.collapsesNlSix;
      }
    }
  },

  // ----

  beforeMount() {
    // init
    this.setup();

    eventBus.$on("langEnActive", englishActive => {
      if (localStorage.englishActive) {
        this.faqText = this.faqTextEn;

        this.collapses = this.collapsesEn;
        this.collapsesTwo = this.collapsesEnTwo;
        this.collapsesThree = this.collapsesEnThree;
        this.collapsesFour = this.collapsesEnFour;
        this.collapsesFive = this.collapsesEnFive;
        this.collapsesSix = this.collapsesEnSix;
        localStorage.language = "en";
      }
    });
    eventBus.$on("langNlActive", dutchActive => {
      if (localStorage.dutchActive) {
        this.faqText = this.faqTextNl;

        this.collapses = this.collapsesNl;
        this.collapsesTwo = this.collapsesNlTwo;
        this.collapsesThree = this.collapsesNlThree;
        this.collapsesFour = this.collapsesNlFour;
        this.collapsesFive = this.collapsesNlFive;
        this.collapsesSix = this.collapsesNlSix;
        localStorage.language = "nl";
      }
    });
  }
};
</script>

<style scoped>
#faq {
  display: block;
}

#intro-section {
  height: 26.625rem;
  width: 100%;
  background: var(--white-color);
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}

.bg-display {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}

.current-phase-bg,
.current-phase-bg2 {
  height: 100%;
  position: absolute;
}

.current-phase-bg {
  left: -2rem;
}

.current-phase-bg2 {
  right: -5rem;
}

.intro {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro p {
  width: 40%;
}

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--white-color);
  padding: 3.125rem 0 6.25rem 0;
  position: relative;
  z-index: 1;
}

.faq-section-center {
  width: 75%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3.125rem;
}

.link {
  color: var(--pink-color) !important;
  text-decoration: underline !important;
  display: inline;
}

.section-one,
.section-two {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section-one {
  align-items: flex-start;
}

.section-header {
  margin-bottom: 1.625rem;
}

.section-two {
  margin-top: 3.725rem;
  align-items: flex-end;
}

.card {
  width: 90%;
  max-width: 40rem;
  margin-bottom: 1rem;
  background: var(--second-white-color);
  box-shadow: none;
}

.card-header {
  box-shadow: none;
}

.card-header-title {
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  color: var(--dark-blue-color);
  padding: 12px 0 12px 22px;
}

.card-header-icon {
  align-items: flex-start;
  color: var(--black-color);
  padding: 12px 22px 12px 12px;
}

.card-content {
  padding: 0 22px 22px 22px;
}

.content {
  font-family: "Open Sans", sans-serif !important;
  color: rgba(21, 21, 34, 0.6);
}

.intro-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 31.25rem;
}

@media only screen and (max-width: 1200px) {
  .faq-section-center {
    width: 900px;
  }

  .current-phase-bg {
    left: -12rem;
  }

  .current-phase-bg2 {
    right: -11rem;
  }
}

@media only screen and (max-width: 1023px) {
  .bg-display {
    align-items: center;
  }

  .current-phase-bg {
    display: none;
  }

  .current-phase-bg2 {
    display: none;
  }

  .intro {
    width: 80%;
    margin: 0;
  }

  .intro p {
    width: 100%;
  }

  .faq-section-center {
    width: 80%;
  }

  .section-one,
  .section-two {
    width: 100%;
    align-items: center;
  }

  .section-two {
    margin-top: 0;
  }

  .card {
    width: 100%;
  }
}
</style>
