<template>
  <div class="roadmap-phase">
    <div class="roadmap-phase-left">
      <RoadmapCard
        v-if="orientation == null || orientation == 'left'"
        :title="title"
        :date="date"
        :text="text"
        :orientation="orientation"
        :video="video"
        :photos="photos"
        :link="link"
        data-aos="zoom-in"
      />
    </div>
    <div class="roadmap-phase-middle">
      <RoadmapGraph />
    </div>
    <div class="roadmap-phase-right">
      <RoadmapCard
        v-if="orientation == 'right'"
        :title="title"
        :date="date"
        :text="text"
        :orientation="orientation"
        :video="video"
        :photos="photos"
        :link="link"
        data-aos="zoom-in"
      />
    </div>
  </div>
</template>

<script>
import RoadmapGraph from "./RoadmapGraph";
import RoadmapCard from "./RoadmapCard";

export default {
  name: "roadmap-page",
  components: {
    RoadmapGraph,
    RoadmapCard
  },

  // ----

  props: ["date", "title", "text", "orientation", "video", "photos", "link"] // orientation: left or right
};
</script>

<style scoped>
.roadmap-phase {
  display: flex;
  width: 100%;
  height: 18.75rem;
  flex-flow: row nowrap;
  position: relative;
  z-index: 0;
}

.remove-diplay {
  background: red;
}

.roadmap-phase .roadmap-phase-left {
  flex-grow: 1;
  padding: 0;
  margin-right: 1.5rem;
  position: relative;
}

.roadmap-phase .roadmap-phase-middle {
  flex: 0 0 50px;
  padding: 0;
}

.roadmap-phase .roadmap-phase-right {
  flex-grow: 1;
  position: relative;
  margin-left: 1.5rem;
}

@media only screen and (max-width: 1023px) {
  .roadmap-phase {
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 9.4%;
    height: 45rem;
  }

  .roadmap-phase .roadmap-phase-left {
    margin-right: 0;
  }

  .roadmap-phase-right {
    display: none;
  }
}
</style>
