<template>
  <div id="roadmap-graph">
    <div class="line"></div>
    <div class="future-circle"></div>
  </div>
</template>

<script>
export default {
  name: "roadmap-future-graph"
};
</script>

<style scoped>
#roadmap-graph {
  display: block;
  height: 100%;
  position: relative;
}

.future-circle {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  background: var(--main-purple-color);
  position: absolute;
}

.line {
  display: block;
  position: absolute;
  top: 0;
  left: 18px;
  width: 9%;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    var(--second-purple-color) 50%,
    var(--second-purple-color) 100%,
    transparent 100%
  );
  background-size: 100px 9%;
  height: 100%;
}

@media only screen and (max-width: 1023px) {
  .line {
    background-size: 100px 5%;
  }
}
</style>
