<template>
  <div id="setup-images">
    <!-- animation div, used by Lottie -->
    <div ref="container" id="animLottie" class="animation"></div>
    <!-- robot animation trigger, used by ScrollMagic -->
    <div id="trigger" class="scene"></div>
  </div>
</template>

<script>
import { animationData } from "../assets/animation/data";

export default {
  data() {
    return {
      robotAnim: null
    };
  },

  // ----

  mounted() {
    const { container } = this.$refs;

    var setupAnimData = {
      container: container,
      renderer: "svg",
      loop: false,
      autoplay: false,
      animationData: animationData
    };

    let robotAnim = bodymovin.loadAnimation(setupAnimData);
    robotAnim.addEventListener("DOMLoaded", onRobotDOMLoaded);

    var tl = new TimelineMax();

    function onRobotDOMLoaded(e) {
      tl.to({ frame: 0 }, 3, {
        frame: robotAnim.totalFrames - 1,
        onUpdate() {
          robotAnim.goToAndStop(Math.round(this.progress() * 13), true);
        },
        ease: Linear.easeNone
      });
    }

    let controller = new ScrollMagic.Controller({
      globalSceneOptions: {
        triggerHook: "onLeave"
      }
    });

    let animationScene = new ScrollMagic.Scene({
      triggerElement: "#trigger",
      duration: "100%"
    })
      .setTween(tl)
      .setPin("#animLottie", { pushFollowers: true })
      .addTo(controller);
  }
};
</script>

<style scoped>
.animation {
  position: relative;
  left: 30%;
  top: 20%;
  width: 70%;
  height: 30rem;
}

.scene {
  height: 100vh;
  right: 20%;
  top: -50vh;
  width: 100%;
  position: relative;
  text-align: center;
}

#setup-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 824px) {
  #setup-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
  }

  .scene {
    height: 100vh;
    right: 20%;
    bottom: 25rem;
    width: 100%;
    position: relative;
    text-align: center;
  }
}
</style>
